{% extends "layout.html" %}

{% block content %}
    <section class="section-intro">
        <div>
        <h1 class="heading-primary">Wushu</h1>
        <div class="container">
        <h3 class="heading-secondary">Introduction</h3>
        <p class="intro-description">
            Wushu (/ˌwuːˈʃuː/), or Kung fu, is a hard and soft and complete martial art,
            as well as a full-contact combat sport.[1][2] It has a long history in reference to Chinese martial arts.
            It was developed in 1949 in an effort to standardize the practice of traditional Chinese martial arts,[3] yet attempts to structure the various decentralized martial arts traditions date back earlier, when the Central Guoshu Institute was established at Nanking in 1928.
             "Wushu" is the Chinese term for "martial arts" (武 "Wu" = combat or martial, 術 "Shu" = art). In contemporary times, Wushu has become an international sport under the International Wushu Federation (IWUF), which holds the World Wushu Championships every two years.
             Wushu is an official event at the Asian Games, East Asian Youth Games, Southeast Asian Games, World Combat Games, and in various other multi-sport events.
        </p>
    </div>
    </div>
    <a class="interactive-img">
        <img class="intro-img" src="/static/img/pngegg (2).png" alt="kick"></img>
    </a>
    </section>

    <div class="intro-quote">
        <p>Strength does not come from physical capacity. It comes from an indomitable will.</p>
    </div>

    <section class="section-intro">
        <div>
        <h1 class="heading-primary">History</h1>
        <div class="container">
        <p class="intro-description">
            In 1958 the government established the organization to martial arts training.
            The Chinese State Commission for Physical Culture and Sports led the creation of standardized forms for most of the major arts. During this period, a national Wushu system that included standard forms, teaching curriculum, and instructor grading was established.
             Wushu was introduced at both the high school and university level.
             This new system seeks to incorporate common elements from all styles and forms as well as the general ideas associated with Chinese martial arts.
             Stylistic concepts such as hard, soft, internal, external, as well as classifications based on schools such as Shaolin, Tai chi, Wudang and others were all integrated into one system.
             Wushu became the government sponsored standard for the training in martial arts in China.[4] The push for standardization continued leading to widespread adaptation.
             In 1979, the State Commission for Physical Culture and Sports created a special task force to teaching and practice of Wushu. In 1986, the Chinese National Research Institute of Wushu was established as the central authority for the research and administration of Wushu activities in China.[5]
             Changing government policies and attitudes towards sports in general led to the closing of the State Sports Commission (the central sports authority) in 1998. This closure is viewed as an attempt to partially de-politicize organized sports and move Chinese sport policies towards a more market-driven approach.[6]
             As a result of these changing sociological factors within China, both traditional styles and modern Wushu approaches are being promoted by the International Wushu Federation.[7]
        </p>
    </div>
    </div>
    <a class="interactive-img">
        <img class="intro-img" src="/static/img/pngegg (4).png" alt="enblem"></img>
    </a>
    </section>

    <section class="section-modernWS">
        <div class="con1">
        <h1 class="heading-primary modern">Modern Wushu</h1>
        <p class="intro-description">
            Modern wushu was made popular by Jet Li, who was a 5 time China wushu national champion before transitioning over to the big screen.
            Now wushu is often seen in action movies and video games.
            Today, wushu is officially practiced in more than 120 countries around the world.

            Is kung fu and wushu the same? Merriam-Webster defines Wushu as “Chinese martial arts”, a hand-to-hand form, more often known as Kung Fu. According to Merriam-Webster, Wushu separated itself from Kung Fu in order to emphasize performance and aesthetics.
            Others consider Wushu the modernization of Kung Fu.
        </p>
    </div>
    </section>


    {% endblock %}