{% extends "layout.html" %}

{% block content %}
<div class="section-contact">
    <h1 class="heading-primary mid">Get in touch with us to know more</h1>
    <div class="box-1">

            <div class="contactdetails">
                <div class="container">
                    <div class="row">
                        <div class="column" >
                            <div class="container">
                                <div class="card-fluid">
                                    <div class="row">Phone: +230 6458335</div>
                                    <div class="row">Email: wushuschool@hotmail.com</div>
                                    <div class="row">Facebook: Wushu School FB</div>
                                  </div>
                            </div>

                        </div>
                        <div class="column">
                            <div class="row"><h3>Location map</h3></div>
                            <div class="row"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14950.562499853448!2d57.564601100000004!3d-20.4799485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x217c63f4f3bc01d5%3A0xe5ec26ad791028b2!2sSavanne%20Road%2C%20Riviere%20des%20Anguilles!5e0!3m2!1sen!2smu!4v1670188268408!5m2!1sen!2smu" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>

                        </div>
                    </div>

                  </div>
            </div>




    </div>
</div>


{% endblock %}