{% extends "layout.html" %}

{% block content %}
<section class="section-tutorials">
    <h1 class="heading-primary mid">Tutorials</h1>
    <div class="flex">
    <div class="box tutcard">
        <a class="video" href="https://www.youtube.com/watch?v=-9xZI_rAC7Y"><img class="intro-img add" src="/static/img/changquancover.jpg" alt="chang quan"></img></a>
        <ul>
            <li class="sub-title">Chang Quan</li>
            <li class="sub-details">Chángquán refers to a family of external martial arts styles from northern China. </li>
        </ul>
    </div>

    <div class="box tutcard">
        <a class="video" href="https://www.youtube.com/watch?v=m_1B9RP7E3U"><img class="intro-img add" src="/static/img/nanquancover.jpg" alt="nan quan"></img></a>
        <ul>
            <li class="sub-title">Nan Quan</li>
            <li class="sub-details">Nanquan refers to a classification of Chinese martial arts that originated South China. </li>
        </ul>
    </div>

    <div class="box tutcard" >
        <a class="video" href="https://www.youtube.com/watch?v=asiF4hybVXI"><img class="intro-img add" src="/static/img/daoshucover.jpg" alt="daoshu"></img></a>
        <ul>
            <li class="sub-title" >Dao Shu</li>
            <li class="sub-details">Daoshu is a Wushu taolu where the participant uses a sword in the routine.</li>
            <li></li>
        </ul>
    </div>
    </div>

</section>
{% endblock %}